<!--
<pre>{{ this.userExercisesStats | async | json }}</pre>
-->

<section class="home">
    <div>
        <h2>Your exercises</h2>
        <button id="add-btn" (click)="openModal()">+</button>
    </div>
    <section class="card-container" *ngIf="userExercisesPromise | async as exercises">
        <app-exercise-card *ngFor="let exercise of exercises" [exercise]="exercise"></app-exercise-card>
    </section>

    <div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
                <h3>Add New Exercise</h3>
                <button (click)="closeModal()">x</button>
            </div>
            <!-- Add your form or content for adding a new exercise here -->
            <form action="" (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
                <label for="exerciseName">Exercise Name:</label>
                <select [(ngModel)]="formData.exerciseName" name="exerciseName">
                    <option *ngFor="let exercise of (exercisesListPromise | async)" [value]="exercise" >{{ exercise }}</option>
                </select>
                <label for="unit">Unit:</label>
                <select [(ngModel)]="formData.unit" name="unit">
                    <option value="kg">kg</option>
                    <option value="lbs">lbs</option>
                </select>
                <label for="amount">Amount:</label>
                <input type="number" placeholder="Amount" [(ngModel)]="formData.amount" name="amount">
                <button type="submit">Save</button>
            </form>
        </div>

    </div>
</section>