
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

section.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


section.home .card-container {
  flex: 1;
}

